# Introduction to Pandas

Tutorial from http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/

pandas introduces two new data structures to Python - Series and DataFrame, both of which are built on top of NumPy

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('max_columns', 50)
%matplotlib inline

## Series

In [3]:
# create a Series with an arbitrary list
s = pd.Series([109, 'Redkar', 3.142, -1789710578, 'Happy Coding!'])
s

0              109
1           Redkar
2            3.142
3      -1789710578
4    Happy Coding!
dtype: object

### Specify an index to use when creating the Series

In [5]:
s = pd.Series([109, 'Redkar', 3.142, -1789710578, 'Happy Coding!'],
              index=['A', 'Z', 'C', 'Y', 'E'])
s

A              109
Z           Redkar
C            3.142
Y      -1789710578
E    Happy Coding!
dtype: object

### Create series from a dictionary

In [6]:
d = {'Chicago': 1000, 'New York': 1300, 'Portland': 900, 'San Francisco': 1100,
     'Austin': 450, 'Boston': None}
cities = pd.Series(d)
cities

Chicago          1000.0
New York         1300.0
Portland          900.0
San Francisco    1100.0
Austin            450.0
Boston              NaN
dtype: float64